@model HappyBirthday.Models.Logo

<div data-role="page">
    @section scripts {
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    }
</div>


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "logochoice", enctype = "multipart/form-data" }))
{
<div class="modal-header">

    <h4 class="modal-title">Uploading project image...</h4>
    <a class="close" data-dismiss="modal" aria-hidden="True">&times;</a>
</div>

    <div class="modal-body">
        <p id="MessageToClient" class="text-danger"></p>

        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label for="inputFile">File input</label>
                <input type="file" id="logo" name="logo">
                <p class="help-block">@Html.LabelFor(model => model.LogoText, htmlAttributes: new { @class = "control-label" })</p>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <a class="btn btn-default" data-dismiss="modal">Cancel</a>
        <input class="btn btn-info" type="submit" value="Save" />
    </div>
}
