@{
    ViewBag.Title = "See ya...";
}

<div class="jumbotron">
    <h1>Thank you!</h1>
    <p class="lead">Looking forward to celebrate you ...</p>
    <p><a href="/" class="btn btn-primary btn-lg">Forgot something ?!.. You could do it again</a></p>
</div>